<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://code.alibabatech.com/schema/dubbo
          http://code.alibabatech.com/schema/dubbo/dubbo.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd">

    <!--Jedis连接池的相关配置-->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!--最大jedis连接数-->
        <property name="maxTotal" value="10"/>
        <!--最多有50个空闲的jedis实例-->
        <property name="maxIdle" value="5"/>
        <!--对获取的jedis实例进行有效性检查,检查是否可用-->
        <property name="testOnBorrow" value="true"/>
        <!--对返回给连接池中的jedis实例进行有效性检查,检查是否可用-->
        <property name="testOnReturn" value="true"/>

    </bean>

    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg name="poolConfig" ref="jedisPoolConfig" />
        <constructor-arg name="host" value="118.89.125.3" />
        <constructor-arg name="port" value="58942"/>
        <constructor-arg name="timeout" value="30000"/>
        <constructor-arg name="password" value="pengchengYanwenqi1997!!@"/>
    </bean>
</beans>
