<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.MenuMapper">

    <resultMap id="MenuAndSubMenu" type="com.itheima.pojo.Menu" autoMapping="true">
        <id column="id" property="id" />
        <collection property="children" ofType="com.itheima.pojo.Menu">
            <id column="subid" property="id" />
            <result column="subname" property="name" />
            <result column="sublinkUrl" property="linkUrl" />
            <result column="subpath" property="path" />
            <result column="subpriority" property="priority" />
            <result column="subdescription" property="description" />
            <result column="subparentMenuId" property="parentMenuId" />
        </collection>
    </resultMap>


    <select id="findAll" resultMap="MenuAndSubMenu">
        SELECT
            t1.id,
            t1.NAME,
            t1.path,
            t1.priority,
            t1.icon,
            t1.description,
            t2.id AS subid,
            t2.NAME AS subname,
            t2.linkUrl AS sublinkUrl,
            t2.path AS subpath,
            t2.priority AS subpriority,
            t2.description AS subdescription,
            t2.parentMenuId AS subparentMenuId
        FROM
            t_menu t1
                left JOIN t_menu t2 ON t2.parentMenuId = t1.id
        where t1.level = 1
    </select>
    <insert id="add">
        insert into t_menu
        <choose>
            <when test="parentMenuId == null">
                (id, name, path, priority, icon,level) values (null, #{name}, #{path}, #{priority}, #{icon}, 1)
            </when>
            <otherwise>
                (id, name, path, priority, linkUrl, parentMenuId, level) values (null, #{name}, #{path}, #{priority},#{linkUrl}, #{parentMenuId}, 2)
            </otherwise>
        </choose>


    </insert>
    <select id="findById" resultType="com.itheima.pojo.Menu">
        select * from t_menu where id = #{id}
    </select>
    <select id="countUse" resultType="integer">
        select count(*) from t_role_menu where menu_id = #{id};
    </select>
    <delete id="deleteById">
        delete from t_menu where id = #{id}
    </delete>




<!--    <select id="findMenuByUserId" resultMap="MenAndUserSubMenu">-->
<!--        SELECT-->
<!--            t1.id,-->
<!--            t1.NAME,-->
<!--            t1.path,-->
<!--            t1.priority,-->
<!--            t1.icon,-->
<!--            t1.description,-->
<!--            t2.id AS subid,-->
<!--            t2.NAME AS subname,-->
<!--            t2.linkUrl AS sublinkUrl,-->
<!--            t2.path AS subpath,-->
<!--            t2.priority AS subpriority,-->
<!--            t2.description AS subdescription,-->
<!--            t2.parentMenuId AS subparentMenuId-->
<!--        FROM-->
<!--            t_role_menu rm-->
<!--        inner join t_menu t1 on rm.menu_id = t1.id-->
<!--        inner join t_menu t2 on t2.parentMenuId = t1.id-->
<!--        where rm.role_id = #{userId}-->
<!--    </select>-->


    <select id="getMenuByRoleIds" resultMap="MenuAndSubMenu">

    </select>
    <select id="getMenuByMenuIds" resultType="com.itheima.pojo.Menu">
        select * from t_menu where id in (
            <foreach collection="menuIds" separator="," item="menuId">
                #{menuId}
            </foreach>
            )
    </select>
    <update id="edit">
        update t_menu
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="linkUrl != null">
                linkUrl = #{linkUrl},
            </if>
            <if test="path != null">
                path = #{path},
            </if>
            <if test="priority != null">
                priority = #{priority},
            </if>
            <if test="icon != null">
                icon = #{icon},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="parentMenuId != null">
                parentMenuId = #{parentMenuId}
            </if>
        </set>
        where id = #{id}

    </update>

    <resultMap id="MainMenu" type="com.itheima.pojo.Menu" autoMapping="true">
        <id column="id" property="id" />
        <collection property="children" ofType="com.itheima.pojo.Menu">
            <id column="subId" property="id" />
            <result column="subName" property="name" />
            <result column="subLinkUrl" property="linkUrl" />
            <result column="subPath" property="path" />
            <result column="subPriority" property="priority" />
            <result column="subParentMenuId" property="parentMenuId" />
        </collection>
    </resultMap>



    <select id="getMenu" resultMap="MainMenu">
        SELECT
            t1.id as id,
            t1.name as name,
            t1.path as path,
            t1.priority as priority,
            t1.icon as icon,
            t2.id AS subId,
            t2.NAME AS subName,
            t2.linkUrl as subLinkUrl,
            t2.path as subPath,
            t2.priority as subPriority,
            t2.parentMenuId as subParentMenuId
        FROM
            t_menu t1
                INNER JOIN t_menu t2 ON t1.id = t2.parentMenuId
        WHERE
                t2.id IN (
                SELECT
                    menu_id
                FROM
                    t_role_menu
                WHERE
                    role_id IN ( SELECT role_id FROM t_user_role WHERE user_id = #{userId} ))
    </select>
</mapper>
