<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.PermissionMapper">

    <select id="findByCondition" resultType="com.itheima.pojo.Permission">
        select *
        from t_permission
        <if test="queryString != null and queryString.trim() != ''">
            where name like '%' #{queryString} '%' or keyword like '%' #{queryString} '%'
        </if>

    </select>
    <delete id="add">
        insert into t_permission values (null, #{name}, #{keyword}, #{description})
    </delete>
</mapper>
