<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.RoleMapper">

    <select id="findByCondition" resultType="com.itheima.pojo.Role">
        select * from t_role
        <if test="queryString != null and queryString.trim()!=''">
            where name like '%' #{queryString} '%' or keyword like '%' #{queryString} '%'
        </if>
    </select>
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into t_role values (null, #{name}, #{keyword}, #{description})
    </insert>
    <insert id="addRoleAndMenus">
        insert into t_role_menu values
        <foreach collection="menus" item="menu" separator=",">
            (#{id}, #{menu})
        </foreach>
    </insert>
    <insert id="addRoleAndPermission">
        insert into t_role_permission values
        <foreach collection="permissions" item="permission" separator=",">
            (#{id}, #{permission})
        </foreach>
    </insert>





    <resultMap id="roleAndPermissionIds" type="com.itheima.pojo.Role" autoMapping="true" >
        <id property="id" column="id" />
        <collection property="permissionIds" ofType="integer" column="permission_id" />
    </resultMap>
    <select id="findRoleAndPermission" resultType="com.itheima.pojo.Role">
        SELECT
            r.id as id, r.name as name ,r.keyword as keyword, r.description as description, rp.permission_id as permission_id
        FROM
            t_role r
                INNER JOIN t_role_permission rp ON rp.role_id = r.id
        WHERE
            r.id = #{id}
    </select>

    <resultMap id="roleAndMenuIds" type="com.itheima.pojo.Role" autoMapping="true" >
        <id property="id" column="id" />
        <collection property="menuIds" ofType="java.lang.Integer" column="menu_id" />
    </resultMap>
    <select id="findRoleAndMenu" resultMap="roleAndMenuIds">
        SELECT
            *
        FROM
            t_role r
                INNER JOIN t_role_menu rm ON rm.role_id = r.id
        WHERE
            r.id = #{id}
    </select>
    <select id="findRoleById" resultMap="roleAndPermissionIds">
        select * from t_role where id = #{id}
    </select>
    <select id="findMenuIds" resultType="java.lang.Integer">
        select menu_id from t_role_menu where role_id = #{id}
    </select>
    <select id="findPermissionIds" resultType="java.lang.Integer">
        select permission_id from t_role_permission where role_id = #{id}
    </select>
    <update id="update">
        update t_role
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="keyword != null">
                keyword = #{keyword},
            </if>
            <if test="description != null">
                description = #{description}
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteMenus">
        delete from t_role_menu where role_id = #{id}
    </delete>
    <delete id="deletePermission">
        delete from t_role_permission where role_id = #{id}
    </delete>
    <select id="findAll" resultType="com.itheima.pojo.Role">
        select * from t_role
    </select>
    <select id="getRoleIdsByUserId" resultType="java.lang.Integer">
        select role_id from t_user_role where user_id = #{userId}
    </select>
    <select id="getMenuIdsByRoleIds" resultType="java.lang.Integer">
        select menu_id
        from t_role_menu
        where role_id in (
            <foreach collection="roleIds" item="roleId" separator=",">
                #{roleId}
            </foreach>
            )
         ;
    </select>
    <select id="findRoleUse" resultType="java.lang.Integer">
        select count(*) from t_user_role where role_id = #{id}
    </select>
    <delete id="deleteRole">
        delete from t_role where id = #{id}
    </delete>
</mapper>
