<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.UserMapper">

   <!-- <select id="findByUsername" resultType="com.itheima.pojo.User">
        SELECT * FROM t_user WHERE username = #{username}
    </select>-->
    <resultMap id="userAndRoleAndPermission" type="com.itheima.pojo.User" autoMapping="true">
        <id column="id" property="id"></id>
        <collection property="roles" javaType="java.util.HashSet" ofType="com.itheima.pojo.Role" autoMapping="true">
            <id column="role_id" property="id"/>
            <result column="role_name" property="name"/>
            <result column="role_keyword" property="keyword"></result>
            <result column="role_description" property="description"></result>
            <collection property="permissions" javaType="java.util.HashSet" ofType="com.itheima.pojo.Permission" autoMapping="true">
                <id column="permission_id" property="id"></id>
                <result column="permission_name" property="name"></result>
                <result column="permission_keyword" property="keyword"></result>
                <result column="permission_description" property="description"></result>
            </collection>
        </collection>
    </resultMap>
    <!--
        通过username查询User、Role以及Permission
    -->
    <select id="findByUsername" resultMap="userAndRoleAndPermission">
        SELECT
            *,r.id as role_id,r.name as role_name,r.keyword as role_keyword,r.description as role_description,p.id as permission_id,p.name as permission_name,p.keyword as permission_keyword,p.description as permission_description
        FROM
            t_user u
        INNER JOIN t_user_role ur on ur.user_id = u.id
        INNER JOIN t_role r on r.id = ur.role_id
        INNER JOIN t_role_permission rp on rp.role_id = r.id
        INNER JOIN t_permission p on p.id = rp.permission_id
        WHERE
       u.username = #{username}
    </select>

</mapper>