<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
">

    <mvc:annotation-driven>
        <!--将默认的jackson的消息转换器替换为FastJson的消息转换器-->
        <mvc:message-converters>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes" value="application/json"/>
                <property name="fastJsonConfig" ref="fastJsonConfig"></property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <bean id="fastJsonConfig" class="com.alibaba.fastjson.support.config.FastJsonConfig">
        <property name="serializerFeatures">
            <array>
                <!--响应json时，如果某个字段为null继续输出,默认为false-->
                <value>WriteMapNullValue</value>
                <!--设置使用文本方式输出日期：yyyy-MM-dd，默认是long类型-->
                <value>WriteDateUseDateFormat</value>
            </array>
        </property>
    </bean>

    <!--    zookeeper://118.89.125.3:2181-->

    <dubbo:application name="health-web"></dubbo:application>

    <dubbo:registry address="zookeeper://118.89.125.3:2181"></dubbo:registry>

    <dubbo:annotation package="com.itheima"></dubbo:annotation>
    <!--
               超时全局设置 10分钟
               check=false 不检查服务提供方，开发阶段建议设置为false
               check=true 启动时检查服务提供方，如果服务提供方没有启动则报错
           -->
    <dubbo:consumer timeout="600000" check="false"></dubbo:consumer>




<!--    <dubbo:application name="health-web"></dubbo:application>-->

<!--    <dubbo:registry address="zookeeper://127.0.0.1:2181"></dubbo:registry>-->

<!--    <dubbo:annotation package="com.itheima"></dubbo:annotation>-->
<!--    &lt;!&ndash;-->
<!--               超时全局设置 10分钟-->
<!--               check=false 不检查服务提供方，开发阶段建议设置为false-->
<!--               check=true 启动时检查服务提供方，如果服务提供方没有启动则报错-->
<!--           &ndash;&gt;-->
<!--    <dubbo:consumer timeout="600000" check="false"></dubbo:consumer>-->

    <!--配置上传文件解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--设置上传文件大小为10m-->
        <property name="maxUploadSize" value="104857600"></property>
        <!--设置编码集-->
        <property name="defaultEncoding" value="utf-8"></property>
    </bean>
    <!--加载applicationContext-redis.xml-->
    <import resource="classpath:applicationContext-redis.xml"></import>

    <import resource="classpath:spring-security.xml"></import>

</beans>